footer{
    background-image: url(../images/bg-bottom.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    ul{
        li{
            display: inline-block;
        }
    }

    .socialMedia{
        text-align: center;
        li{margin: 10px 10px;}
    }
}