nav{
    background-color: rgba(0,0,0,0.9);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    ul{
       li{
           display: inline-block;
           margin: 0 10px;
           a{
               color: white;
               &:hover{
                   color: #4c913d;
               }
           }
       } 
    }
}