nav{
    background-color: rgba(0,0,0,0.9);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(4px);
    z-index: 2;
    ul{
       li{
           display: inline-block;
           margin: 0 4px;
           a{
               color: white;
               border: 1px solid transparent;
               padding: 3px 8px;
               &:hover{
                   color: #4c913d;
                   border: 1px solid #4c913d;
               }
           }
       } 
    }
}