* {
    box-sizing: border-box;
}


.take-out-menu {    
    float: left;
    min-height: 1px;
}


.title-menu {

}

.menu-tab {
    display: flex;
    flex-direction: column;
}

.combos {

}

.sides {

}

.protein {
    
}