*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

textarea:focus, input:focus{
    outline: none;
}

a{
    text-decoration: none;
    transition: all 0.5s ease;
    color: white;
}
:hover{
    transition: all 0.5s ease;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600&display=swap');

@import "nav";
@import "home";
@import "about-us";
@import "our-team";
@import "footer";
@import "delivery"
